$light-gray-color: #bbb;
$gray-color: #777;
$dark-gray-color: #222;
$orange-color: #e34d26;
$white-color: #eee;

/* background */
$bg-gray-color: #aaa;
$bg-pink-color: #FEF9F5;

/* text */
$text-default-gray: #333;
$text-light-gray: #666;

/* tablet under 767px */
$tablet-width: 767px;

/* smart phone under 480px */
$sp-width: 480px;